    @model List< Save_Our_Ocean.Models.Area>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/listacl.css" rel="stylesheet">
    <link href="/static/css/botao.css" rel="stylesheet">
    <link href="~/css/Tabela.css" rel="stylesheet" type="text/css" />

</head>


<body>
    <br />
    <br />
    <div class="logo">

        <a class="btn" asp-area="" asp-controller="Administrador" asp-action="Home">Voltar</a>
    </div>

    <div class="btn-link-flash" role="alert" align="center">
    </div>

    <h1 class="titulo">Lista de Areas</h1>


    <br />
    <br />
    <table class="tabela" bgcolor="black" width="800">

        <tr bgcolor="grey" align="center">
            <th width="100">Cep</th>
            <th width="100">Tipo Poluicao</th>
            <th width="100">Descricasdao</th>
            <th width="100">Status</th>
            <th width="100">Mudar Status</th>




        </tr>
        <tbody>
            @foreach (var Area in Model)
            {
                if (Area != null && Area.Status == "Sujo")
                {
                    <tr bgcolor="lightgrey" align="center">
                        <td>@Area.Cep</td>
                        <td>@Area.TipoPoluicao</td>
                        <td>@Area.Descricao</td>
                        <td>@Area.Status</td>
                        <td><a asp-controller="Administrador" asp-action="LimparArea" asp-route-AreaId="@Area.Id">Limpar</a></td>
                    </tr>
                }
             
            }


        </tbody>

    </table>

</body>
</html>